.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    font-size: 1.6rem;
    background-color: $main;
    color: $main-text;
    padding: 1.2rem 2rem;
    text-decoration: none;
    cursor: pointer;
  }

  &--inline {
    &,
    &:link,
    &:visited {
      background-color: transparent;
      padding: 1rem;
      font-weight: 600;
    }
  }

  &--large {
    &,
    &:link,
    &:visited {
      font-size: 1.6rem;
      padding: 1.8rem 3rem;

      @mixin atSmall {
        font-size: 2rem;
      }
    }
  }

  &--larger-on-small {
    &,
    &:link,
    &:visited {
      @mixin atSmall {
        padding: 1.8rem 3rem;
        font-size: 2rem;
      }
    }
  }

  &--center {
    margin-left: auto;
    margin-right: auto;
  }

  &--sub {
    background-color: $sub;
    color: $sub-text;
  }
}
